<div class="container">
  <button class="help-button" (click)="toggleHelp()">
    <i class="fa fa-question-circle"></i>
  </button>
  <app-help-modal *ngIf="showHelp" (closeModal)="toggleHelp()"></app-help-modal>
  <div class="input-section">
    <h2>Bingo Card Generator</h2>
    <div class="item-input">
      <input type="text" [(ngModel)]="newItem" (keyup.enter)="addItem()" placeholder="Enter item text">
      <button (click)="addItem()">Add Item</button>
    </div>

    <div class="items-list">
      <h3>Current Items:</h3>

      <div class="items-grid">
        <div class="grid-header">
          <div>Text</div>
          <div>Completed</div>
          <div>Delete</div>
        </div>
        <div class="grid-row" *ngFor="let item of items; let i = index">
          <ng-container *ngIf="editingIndex !== i; else editMode">
            <div class="text-cell">
              <span (click)="startEditing(i, item)" [ngClass]="{'checked': item.isChecked}">{{ item.text }}</span>
            </div>
            <div class="checkbox-cell">
              <input type="checkbox" [(ngModel)]="item.isChecked">
            </div>
            <div class="delete-cell">
              <button class="remove-btn" (click)="confirmDelete(i)">✕</button>
            </div>
          </ng-container>
          <ng-template #editMode>
            <div class="text-cell" colspan="3">
              <input type="text"
                     [(ngModel)]="editingText"
                     (keyup.enter)="saveEdit(i)"
                     (keyup.escape)="cancelEdit()"
                     (blur)="saveEdit(i)"
                     #editInput>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="players-list">
      <h3>Players:</h3>
      <div class="item-input">
        <input type="text" [(ngModel)]="newPlayer" (keyup.enter)="addPlayer()" placeholder="Enter Player ID">
        <button (click)="addPlayer()">Add Player</button>
      </div>

      <div class="players-grid">
        <div class="grid-header">
          <div>User ID</div>
          <div>Selected Squares</div>
          <div>Score</div>
          <div>Delete</div>
        </div>
        <div class="grid-row" *ngFor="let player of players; let i = index">
          <div class="text-cell" (click)="selectPlayer(player.userId)" [class.active-player]="player.userId === selectedPlayerId">
            <span>{{ player.userId }}</span>
          </div>
          <div class="text-cell">
            <span>{{ player.selectedSquares.join(',') }}</span>
          </div>
          <div class="text-cell">
            <span>{{ player.score }}</span>
          </div>
          <div class="delete-cell">
            <button class="remove-btn" (click)="confirmDeletePlayer(i)">✕</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="controls-section" *ngIf="items.length > 0">
    <div class="font-controls">
      <div class="control-group">
        <label for="font-select">Font:</label>
        <select id="font-select" [value]="selectedFont" (change)="updateFont($event)">
          <option *ngFor="let font of availableFonts" [value]="font">{{font}}</option>
        </select>
      </div>
      <div class="control-group">
        <label for="font-size">Font Size:</label>
        <input type="range" id="font-size" min="8" max="32" step="1"
               [value]="fontSize" (input)="updateFontSize($event)">
        <span class="size-display">{{fontSize}}px</span>
      </div>
    </div>

    <div class="watermark-controls">
    <div class="control-group">
      <label for="watermark">Watermark Image:</label>
      <input type="file" id="watermark" accept="image/*" (change)="onFileSelected($event)">
    </div>
    <div class="control-group" *ngIf="watermarkImage">
      <label for="opacity">Watermark Opacity:</label>
      <input type="range" id="opacity" min="0" max="1" step="0.01" [value]="watermarkOpacity" (input)="updateOpacity($event)">
      <button class="remove-watermark-btn" (click)="removeWatermark()">Remove Watermark</button>
    </div>
  </div>

  <div class="bingo-section" *ngIf="items.length > 0">
    <div id="bingo-card" class="bingo-card" [style.grid-template-columns]="'repeat(' + gridSize + ', 1fr)'">
      <div class="watermark" *ngIf="watermarkImage" [style.opacity]="watermarkOpacity">
        <img [src]="watermarkImage" alt="Watermark">
      </div>
      <div class="bingo-cell" *ngFor="let item of items; let i = index" 
           [style.font-family]="selectedFont" 
           [style.font-size.px]="fontSize"
           (click)="onCellClick(i)"
           [class.selected]="isSquareSelected(i)"
            [class.player-selected]="isSquareSelectedByCurrentPlayer(i)">
        <span [ngClass]="{'checked': item.isChecked}">{{ item.text }}</span>
      </div>
    </div>
    <button class="download-btn" (click)="downloadBingo()">Download Bingo Card</button>
  </div>
</div>
